.DS_Store
/.build
/Packages
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Reference Proj.
/Release
